Bank Statement Analysis - Data Cleaning and Preparation

In [3]:
import pandas as pd 
import numpy as np

Loading the dataset into a dataframe

In [4]:
df = pd.read_csv("CSVData.csv")

In [5]:
df.head(20)

,26/03/2024,+40.50,"Fast Transfer From UBERBV Payment for services X96"" UN6FXOLMVWLXESO",+1011.94
0,26/03/2024,844.86,Fast Transfer From AJAY SHAH We wages 17 March 24,971.44
1,25/03/2024,-94.14,StepPay Repayment,126.58
2,25/03/2024,-93.89,StepPay Repayment,220.72
3,24/03/2024,65.32,Fast Transfer From UBERBV Payment for services...,314.61
4,23/03/2024,-10.29,DBS*UMQ Ltd North Ryde NS AUS Card xx1648 Valu...,249.29
5,22/03/2024,-100.00,Transfer to xx6317 CommBank app Bill,259.58
6,20/03/2024,-100.00,Transfer To CoinSpot PayID Email from CommBank...,359.58
7,20/03/2024,-1300.00,Transfer To Rizk Real Estate Rental Trus CommB...,459.58
8,20/03/2024,600.00,Fast Transfer From FARIHA MUBASSHIRA to PayID ...,1759.58
9,19/03/2024,-150.00,Transfer to xx6317 CommBank app Bill Value Dat...,1159.58
10,19/03/2024,-14.50,Transfer to xx8599 CommBank app Shop,1309.58
11,19/03/2024,14.63,Fast Transfer From CoinSpot CREDIT TO ACCOUNT,1324.08
12,17/03/2024,-70.00,Transfer to xx6317 CommBank app Bill,1309.45
13,17/03/2024,72.75,Fast Transfer From UBERBV Payment for services...,1379.45
14,17/03/2024,-100.00,Transfer to xx6317 CommBank app Bill,1306.70
15,16/03/2024,-10.00,Transfer To CoinSpot PayID Email from CommBank...,1406.70
16,16/03/2024,-9.99,AMZNPRIMEAU MEMBERSHIP SYDNEY SOUTH NS AUS Car...,1416.70
17,15/03/2024,10.00,Transfer from xx8599 CommBank app Bill,1426.69
18,14/03/2024,-93.89,StepPay Repayment,1416.69
19,14/03/2024,-87.00,Transfer to xx6317 CommBank app Bill Value Dat...,1510.58

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 4 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   26/03/2024                                                           39 non-null     object
 1   +40.50                                                               39 non-null     float64
 2   Fast Transfer From UBERBV Payment for services X96" UN6FXOLMVWLXESO  39 non-null     object
 3   +1011.94                                                             39 non-null     float64
dtypes: float64(2), object(2)
memory usage: 1.3+ KB

2. Rectifying and cleaning the data
Some slight adjustments

Renaming the columns

In [8]:
df.isna().sum()

26/03/2024                                                             0
+40.50                                                                 0
Fast Transfer From UBERBV Payment for services X96" UN6FXOLMVWLXESO    0
+1011.94                                                               0
dtype: int64

In [9]:
df.head()

,26/03/2024,+40.50,"Fast Transfer From UBERBV Payment for services X96"" UN6FXOLMVWLXESO",+1011.94
0,26/03/2024,844.86,Fast Transfer From AJAY SHAH We wages 17 March 24,971.44
1,25/03/2024,-94.14,StepPay Repayment,126.58
2,25/03/2024,-93.89,StepPay Repayment,220.72
3,24/03/2024,65.32,Fast Transfer From UBERBV Payment for services...,314.61
4,23/03/2024,-10.29,DBS*UMQ Ltd North Ryde NS AUS Card xx1648 Valu...,249.29

In [ ]:
Change pdf to csv