Bank Statement Analysis - Data Cleaning and Preparation

In [3]:
import pandas as pd 
import numpy as np

In [2]:
#pip install tabula-py
# library for PDF File

SyntaxError: invalid syntax (4095053427.py, line 1)

In [18]:
import fitz  # PyMuPDF
import csv

def extract_text_from_pdf(pdf_file):
    text = ''
    with fitz.open(pdf_file) as doc:
        for page in doc:
            text += page.get_text()
    return text

def save_to_csv(text, csv_file):
    lines = text.split('\n')
    with open(csv_file, 'w', newline='', encoding='utf-8') as file:
        writer = csv.writer(file)
        for line in lines:
            writer.writerow([line])

# Example usage
pdf_file = 'AccountStatement.pdf'
csv_file = 'AccountStatement.csv'

# Extract text from PDF
text = extract_text_from_pdf(pdf_file)

# Save extracted text to CSV
save_to_csv(text, csv_file)

Loading the dataset into a dataframe

In [19]:
df = pd.read_csv("AccountStatement.csv")

In [20]:
df.head(20)

                            MR S KANAKKOT VISWANATHAN
0                 VILLA 31 ROOM 5 - 122 CULLODEN ROAD
1                                  MARSFIELD NSW 2122
2   *#* 4183.39347.1.4 ZZ258R3 0303 SL.R3.S96A.D34...
3                                      Your Statement
4                                         Statement 7
5                                       (Page 1 of 6)
6                                      Account Number
7                                    06 2320 11622449
8                                           Statement
9                                              Period
10                          10 Dec 2023 - 30 Dec 2023
11                                    Closing Balance
12                                      $1,026.47 CR
13                                          Enquiries
14                                            13 2221
15                                                004
16                                       Smart Access
17  Enjoy the convenience and security of withdraw...
18  monthly account fee waived if you deposit at l...
19                                              Name:

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 1 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   MR S KANAKKOT VISWANATHAN  599 non-null    object
dtypes: object(1)
memory usage: 4.8+ KB

2. Rectifying and cleaning the data
Some slight adjustments

Renaming the columns

In [8]:
df.isna().sum()

26/03/2024                                                             0
+40.50                                                                 0
Fast Transfer From UBERBV Payment for services X96" UN6FXOLMVWLXESO    0
+1011.94                                                               0
dtype: int64

In [9]:
df.head()

,26/03/2024,+40.50,"Fast Transfer From UBERBV Payment for services X96"" UN6FXOLMVWLXESO",+1011.94
0,26/03/2024,844.86,Fast Transfer From AJAY SHAH We wages 17 March 24,971.44
1,25/03/2024,-94.14,StepPay Repayment,126.58
2,25/03/2024,-93.89,StepPay Repayment,220.72
3,24/03/2024,65.32,Fast Transfer From UBERBV Payment for services...,314.61
4,23/03/2024,-10.29,DBS*UMQ Ltd North Ryde NS AUS Card xx1648 Valu...,249.29

In [ ]:
Change pdf to csv